.animate {
  position: absolute;
  left: 18px;
  top: 15px;
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.App {
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;
  display:flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.todoForm {
  display: flex;
  flex-direction: column;
}
.todoForm select {
  width: 100%;
}
.divider{
  width: 1px;
  border-left: 1px solid red;
  left: 82px;
  bottom: 14px;
}
.text input {
  border-bottom: none;
  padding-left: 0;
  font-size: 17px;
  font-weight: 700;
}
.text input::placeholder {
  color: red;
}
.footer {
  padding: 15px 0;
  display:flex;
  flex-direction: row;
  background: #EEEC66;
}
.footer div{
  padding: 0 5px;
  cursor: pointer;
  font-weight: 700;
}
.footer div:hover{
  text-decoration: underline;
}
.footer .icon {
  cursor: pointer !important;
}
.doneCount {
  color:#fff;
  position: absolute;
  text-transform: uppercase;
  right:40px;
  bottom:25px;
}
@keyframes loader {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
